.eUI_menu {
    width: 201px;
    float: left;
    height: calc(100vh - 50px);
    background: rgba(84,92,100,0.5);
}
.eUI_container {
    margin-left: 201px;
    // min-height: calc(100vh - 50px);
    overflow: auto;
    height: calc(100vh - 50px);
}
