.header {
    height: 30px;
    padding: 10px;
    background: #d3dce6;
}
.c_logo {
    height: 30px;
    line-height: 30px;
    font-size: 1.8rem;
    text-align: center;
    img {
        height: 30px;
    }
}
